__pycache__/
*.pyc
.env
.venv/
venv/
node_modules/
dist/
*.joblib
data/raw/*
data/processed/*
!data/**/.gitkeep
.DS_Store
*.db

# Garder la série temporelle nécessaire au forecasting ML
!backend/data/processed/algeria_timeseries.json
!data/processed/algeria_timeseries.json
